
@keyframes fadein {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein-03 {
  to { opacity: 0.3; }
}

@keyframes fadein-08 {
  to { opacity: 0.8; }
}

@keyframes fadein-09 {
  to { opacity: 0.9; }
}

@keyframes shimmy {
  0% { left: 0; }
  30% { left: -15px; }
  50% { left: 4px; }
  70% { left: -5px; }
  80% { left: -35px; }
  90% { left: -10px; }
  100% { left: 0; }
}

@keyframes noise {
  0% { transform: translateX(0px, 0px); }
  10% { transform: translate(-100px, 100px); }
  20% { transform: translate(150px, -100px); }
  30% { transform: translate(-100px,100px); }
  40% { transform: translate(100px, -150px); }
  50% { transform: translate(-100px, 200px); }
  60% { 
    transform: translate(-200px, -100px); 
    background-size: 500px;
  }
  70% { transform: translateY(50px, 100px); }
  80% { transform: translate(100px, -150px); }
  90% { 
    transform: translate(0px, 200px); 
    background-size: 700px;
  }
  100% { transform: translate(-100px, 100px); }
}
