@import 'reset.css';
@import 'vars.css';
@import 'fonts.css';
@import 'animations.css';

html {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-blue-black);
  font-family: var(--body-font);
  font-size: 16px;
  color: #333;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #000, #111);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 10;
}

footer {
  background-color: var(--color-blue-black);
  padding: 1rem 1rem;
  min-height: 300px;
}

.logo {
  display: flex;
  align-items: center;
  animation: 800ms forwards fadein 600ms 1;
  opacity: 0;
}

.logo h2 {
  font-size: 26px;
  color: white;
  letter-spacing: -0.06rem;
}

.hero .logo {
  animation: 3s forwards fadein-08 600ms 1;
  font-size: 26px;
  color: white;
  letter-spacing: -0.06rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.hero {
  height: 100vh;
  position: relative;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.hero video {
  position: absolute;
  left: 0;
  top: 0;
  height: 103%;
  opacity: 0;
  z-index: -1;
  animation: fadein-03 800ms forwards 600ms, shimmy 3s infinite both;
}

.noise-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
  opacity: 0.4;
}

.noise-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background-color: transparent;
  background-image: url(../img/noise.png);
  background-size: 320px;
  opacity: 0.5;
  animation: noise 1s steps(11, end) infinite both;
}

.speech {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  position: relative;
  z-index: 8;
}

.speech h2 {
  font-size: 5rem;
  line-height: 0.7em;
  opacity: 0;
  animation: fadein-08 3s forwards 1s;
  letter-spacing: -0.3rem;
}

.speech h2 span {
  color: var(--color-light-blue);
  opacity: 0;
  animation: fadein-08 3s forwards 3s;
}

@media (min-width: 768px) {
  .speech h2 {
    font-size: 10rem;
  }
}

@media (min-width: 1024px) {
  .speech h2 {
    font-size: 15rem;
  }
}

main {
  flex: 1 0 auto;
  overflow: hidden;
  color: white;
  gap: 3rem;
  padding: 7rem 0;
}

main h3 {
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: -0.1rem;
  font-family: var(--display-font);
}

main p {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 300;
  color: #ddd;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
  max-width: var(--max-width);
}
