:root {

  --display-font: 'Encode Sans Condensed', sans-serif;
  --body-font: 'Roboto', Helvetica, sans-serif;

  --color-blue-black: #0d1212;
  --color-light-blue: #add8e6;
  --color-grey-300: #444;

  --screen-xs-min:  480px;     /* mobile portrait */
  --screen-sm-min:  640px;     /* mobile landscape */
  --screen-md-min:  768px;     /* tablet portrait */
  --screen-lg-min:  1024px;    /* tablet landscape */
  --screen-xl-min:  1280px;    /* arguable */
  --screen-2xl-min: 1536px;    /* default for (retina) for 16" MBP (tailwind choice) */
  --screen-13-min:  1440px;    /* default - (retina) for 13" MBP */
  --screen-desktop-min: 992px; /* Bootstrap / Webflow start of desktop */

  --spacer-sm: 8px;
  --spacer-md: 32px;
  --spacer: 40px;
  --gutter-sm: 24px;
  --gutter: 50px;
  --gutter-md: 70px;
  --gutter-lg: 112px;
  --gutter-xl: 140px;

  --container-width: calc(100% - (var(--gutter-sm) * 2));
  --max-width: calc(var(--screen-xl-min) - (var(--gutter) * 2));
  --gutter-auto: calc((100vw - var(--max-width)) / 2);
}
